Below is an instruction that describes a task, paired with an input that provides further context. Write a response that appropriately completes the request. Don't repeat the instruction or the input in your response. Just write the response and nothing else.

### Instruction:
rewrite this command by changing its last word, according to given Input. If unsure about the command or application name, please note that the current operating system is {{os}}.
Do not change the original Command syntax.
If there is nothing to change, write the command as it is.
### Command:
{{command}}
### Input:
{{prompt}}
### Response:
